
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Monoton');

$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$backWidth: 512px; $backHeight: 432px;
$bushesWidth: 508px; $bushesHeight: 79px;
$groundWidth: 68px; $groundHeight: 22px;
$marioWidth: 30px; $marioHeight: 54px;


$background-mario: url("../img/mario.gif");
$background-floor: url("../img/ground.png");
$background-tree: url("../img/bushes.png");
$background-img: url("../img/back.png");

body {
  text-align: center;
  background-color: #F8E0B0;

}

.body-singup {
  height: 52em;
  background-image:
    $background-mario,
    $background-floor,
    $background-tree,
    $background-img;
  background-repeat:
    no-repeat,
    repeat-x,
    repeat-x,
    repeat-x;
  background-position:
    left 30% bottom $groundHeight,
    left 0px bottom 0px,
    left 0px bottom $groundHeight,
    left 0px bottom 0px;
  animation: back 15s infinite linear;
}

.body-logged {
  height: 52em;
  background-image:
    $background-mario,
    $background-floor,
    $background-tree,
    $background-img;
    background-repeat:
      no-repeat,
      repeat-x,
      repeat-x,
      repeat-x;
    background-position:
      left 30% bottom $groundHeight,
      left 0px bottom 0px,
      left 0px bottom $groundHeight,
      left 0px bottom 0px;
    animation: back 15s infinite linear;
}

.body-singin {
  height: 52em;
  background-image:
    $background-mario,
    $background-floor,
    $background-tree,
    $background-img;
    background-repeat:
      no-repeat,
      repeat-x,
      repeat-x,
      repeat-x;
    background-position:
      left 30% bottom $groundHeight,
      left 0px bottom 0px,
      left 0px bottom $groundHeight,
      left 0px bottom 0px;
    animation: back 15s infinite linear;
}

@keyframes back {
  0% {
    background-position:
      left 30% bottom $groundHeight,
      left 0px bottom 0px,
      left 0px bottom $groundHeight,
      left 0px bottom 0px;
  }
  50% {
    background-position:
      left 50% bottom $groundHeight,
      left (-($groundWidth * 12)) bottom 0px,
      left (-($bushesWidth * 1)) bottom $groundHeight,
      left (-($backWidth / 2)) bottom 0px;
  }
  100% {
    background-position:
      left 30% bottom $groundHeight,
      left (-($groundWidth * 24)) bottom 0px,
      left (-($bushesWidth * 2)) bottom $groundHeight,
      left (-$backWidth) bottom 0px;
  }
}
.title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

// p {
//   line-height: 1.5em;
// }

// h1+p, p+p {
//   margin-top: 10px;
// }

.container-2 {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.7em;
  color: #000;

  .container-row {
    margin-top: 50px;
  }

  .line {
    background-color: #37c800;
  }

  .input {
    background-color: #ffdead05 !important;
    border: none;
    border-bottom: solid 1px #37c800;
    border-radius: 0px;
  }

  .btn-success {
    color: #fff;
    background-color: #489070;
    border-color:#489070;
  }

  .form-control{
    height: calc(0.5em + 0.75rem + 2px);

    &:focus {
      background-color: #ffdead05 !important;
      border: none;
      border-bottom: solid 1px #37c800;
      border-radius: 0px;
      box-shadow: none;
    }
  }

  label {
    margin-top: 20px;
  }
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 4rem !important;
  box-shadow:
  rgba(black, 0.70) 2px 2px 20px 0,
  inset #37c8004d 0 0 0 5px,
  inset rgba(white, 0.5) 0 0 0 6px;
  margin-bottom:  40px;
  margin-top: 20px;
}

.card-wrap {
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
  // background-color: #fff;
  
  &:hover {
    .card-info p {
      opacity: 1;
    }
    .card-info, .card-info p {
      transition: 0.6s $hoverEasing;
    }
    .card-info:after {
      transition: 5s $hoverEasing;
      opacity: 1;
      transform: translateY(35%);
    }
    .card-bg {
      transition: 
        0.6s $hoverEasing,
        opacity 5s $hoverEasing;
      opacity: 0.8;
    }
    .card {
      transition:
        0.6s $hoverEasing,
        box-shadow 2s $hoverEasing;
      box-shadow:
        rgba(white, 0.2) 0 0 40px 5px,
        rgba(white, 1) 0 0 0 1px,
        rgba(black, 0.66) 0 30px 60px 0,
        inset #37c800 0 0 0 5px,
        inset white 0 0 0 6px;
    }
  }
}

.card {
  margin-bottom: 200px;
  position: relative;
  flex: 0 0 240px;
  width: 350px;
  background-color: #f8e0b040;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    rgba(black, 0.66) 0 30px 60px 0,
    inset #37c800 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
  transition: 1s $returnEasing;
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:
    1s $returnEasing,
    opacity 5s 1s $returnEasing;
  pointer-events: none;
}

.card-info {
  padding: 20px;
  color: #666f77;
  font-weight: 700;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(#488f70, 0.6) 100%);
  background-blend-mode: overlay;

  // p {
  //   opacity: 0;
  //   text-shadow: rgba(black, 1) 0 2px 3px;
  //   transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  // }
  
  * {
    position: relative;
    z-index: 1;
  }
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(#489070, 0.5) 0 10px 10px;
  margin-bottom: 40px;
  color: #489070;
}

.icon-trophy{
  font-size: 30px;
}

.icons {
  font-size: 16px;
}

.icon-coins {
  color: yellow
}

.icon-pastafarianism {
  color: purple
}

.icon-heart {
  color: red
}

.icon-logout {
  font-size: 14px;
  color: red
}

.sign-up {
  height: 400px;
  margin-top: 15px;

  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }

  p {
    margin-top: 15px;
  }

  h3 {
    font-size: 5em;
  }
}

.forgot-password {
  height: 300px;

  h3 {
    font-size: 4em;
  }
}

.trophy-page {
  height: 380px;
  margin-bottom: 50px;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #666f77;
}

#nav a.router-link-exact-active {
  color: #42b983;
}


// NEON
.neon-container {
  @-webkit-keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}@keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}

  h3 {
    font-family: 'Monoton';
    font-weight: 400;
    text-align: center;
  }
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f8e0b0;
}

::-webkit-scrollbar-thumb {
  background: #489070;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #42b983;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}