
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$backWidth: 512px; $backHeight: 432px;
$bushesWidth: 508px; $bushesHeight: 79px;
$groundWidth: 68px; $groundHeight: 22px;
$marioWidth: 30px; $marioHeight: 54px;

// body {
//   margin: 40px 0;
//   font-family: "Raleway";
//   font-size: 14px;
//   font-weight: 500;
//   background-color: #000000;
//   -webkit-font-smoothing: antialiased;
// }
#app {
  height: calc(50em - 10px);
  background-image:
    url('https://github.com/Kageetai/mario-background-parallax/blob/master/img/mario.gif?raw=true'),
    url('https://github.com/Kageetai/mario-background-parallax/blob/master/img/ground.png?raw=true'),
    url('https://github.com/Kageetai/mario-background-parallax/blob/master/img/bushes.png?raw=true'),
    url('https://raw.githubusercontent.com/Kageetai/mario-background-parallax/master/img/back.png?raw=true');
  background-color: #F8E0B0;
  background-repeat:
    no-repeat,
    repeat-x,
    repeat-x,
    repeat-x;
  background-position:
    left 30% bottom $groundHeight,
    left 0px bottom 0px,
    left 0px bottom $groundHeight,
    left 0px bottom 0px;
  animation: back 15s infinite linear;
}

@keyframes back {
  0% {
    background-position:
      left 30% bottom $groundHeight,
      left 0px bottom 0px,
      left 0px bottom $groundHeight,
      left 0px bottom 0px;
  }
  50% {
    background-position:
      left 50% bottom $groundHeight,
      left (-($groundWidth * 12)) bottom 0px,
      left (-($bushesWidth * 1)) bottom $groundHeight,
      left (-($backWidth / 2)) bottom 0px;
  }
  100% {
    background-position:
      left 30% bottom $groundHeight,
      left (-($groundWidth * 24)) bottom 0px,
      left (-($bushesWidth * 2)) bottom $groundHeight,
      left (-$backWidth) bottom 0px;
  }
}
.title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

// p {
//   line-height: 1.5em;
// }

// h1+p, p+p {
//   margin-top: 10px;
// }

.container-2 {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.5em;
  color: #000;

  .container-row {
    margin-top: 10px;
  }

  .line {
    background-color: #37c800;
  }

  .input {
    background-color: #ffdead05 !important;
    border: none;
    border-bottom: solid 1px #37c800;
    border-radius: 0px;
  }

  .btn-success {
    color: #fff;
    background-color: #489070;
    border-color:#489070;
  }

  .form-control{
    &:focus {
      background-color: #ffdead05 !important;
      border: none;
      border-bottom: solid 1px #37c800;
      border-radius: 0px;
      box-shadow: none;
    }
  }

  label {
    margin-top: 20px;
  }
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 4rem !important;
  box-shadow:
  rgba(black, 0.70) 2px 2px 20px 0,
  inset #37c8004d 0 0 0 5px,
  inset rgba(white, 0.5) 0 0 0 6px;
  margin-bottom:  40px;
  margin-top: -40px;
}

.card-wrap {
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
  // background-color: #fff;
  
  &:hover {
    .card-info p {
      opacity: 1;
    }
    .card-info, .card-info p {
      transition: 0.6s $hoverEasing;
    }
    .card-info:after {
      transition: 5s $hoverEasing;
      opacity: 1;
      transform: translateY(35%);
    }
    .card-bg {
      transition: 
        0.6s $hoverEasing,
        opacity 5s $hoverEasing;
      opacity: 0.8;
    }
    .card {
      transition:
        0.6s $hoverEasing,
        box-shadow 2s $hoverEasing;
      box-shadow:
        rgba(white, 0.2) 0 0 40px 5px,
        rgba(white, 1) 0 0 0 1px,
        rgba(black, 0.66) 0 30px 60px 0,
        inset #37c800 0 0 0 5px,
        inset white 0 0 0 6px;
    }
  }
}

.card {
  margin-bottom: 200px;
  position: relative;
  flex: 0 0 240px;
  width: 300px;
  background-color: #f8e0b040;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    rgba(black, 0.66) 0 30px 60px 0,
    inset #37c800 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
  transition: 1s $returnEasing;
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px; left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:
    1s $returnEasing,
    opacity 5s 1s $returnEasing;
  pointer-events: none;
}

.card-info {
  padding: 20px;
  //position: absolute;
  right: 5px;
  bottom: 60px;
  color: #495057;
  font-weight: 500;
  transform: translateY(20%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(#488f70, 0.6) 100%);
  background-blend-mode: overlay;

  // p {
  //   opacity: 0;
  //   text-shadow: rgba(black, 1) 0 2px 3px;
  //   transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  // }
  
  * {
    position: relative;
    z-index: 1;
  }
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(#489070, 0.5) 0 10px 10px;
  margin-bottom: 40px;
  color: #489070;
}

.icon-trophy{
    font-size: 30px;
}

.icons {
  font-size: 10px;
}

.icon-coins {
  font-size: 10px;
  color: yellow
}

.icon-pastafarianism {
  color: purple
}

.icon-heart {
  color: red
}

.sign-up {
  height: 500px;
  margin-top: -75px;
  font-size: 1.5em;

  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }

  p {
    margin-top: 5px;
  }
}

.forgot-password {
  height: 250px;
  margin-top: -20px;
}

.trophy-page {
  height: 340px;
  margin-bottom: 40px;
}